<% if @user.errors.present? %>
    <span style="color:red;">
        <h3>エラーがあります。</h3>
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </span>
<% end %>

<%= form_for @user, url: {action: :update} do |f| %>
    <p><%= @user.uid %></p>
    <p><%= @user.pass %></p>
    <p><%= f.label :profile, 'プロフィール' %>
    <%= f.text_field :profile %></p>
    <%= f.submit '更新' %>
<% end %>
