<% @user.each do |e| %>
    <p> 
        ユーザー名：<%= e.uid %><br>
        パスワード：<%= e.pass %><br>
        プロフィール：<%= e.profile %><br>
        <% if e.uid == session[:login_uid] %>
            <%= link_to '編集', "/users/#{e.id}/edit" %>
        <% end %>
        <%= link_to '削除', "/users/#{e.id}", method: :delete %> 
    </p> 
<% end %>
<%= link_to "登録する", '/users/new' %><br>
<%= link_to "メイン", '/top/main' %>
