<!DOCTYPE html>
<html>
  <head>
    <title>L5</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "ユーザ登録する", '/users/new' %>
    <%= link_to "ツイートする", '/tweets/new' %>
    <%= link_to " ログインする", 'top/main' %>
    <%= yield %>
  </body>
</html>
